
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}S.P.P.I.M Menuiseries Vitrine{% endblock %}</title>


    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('Public/css/style.css') }}" />
        <link rel="stylesheet"  href="{{ asset('Public/css/bootstrap.css') }}" />
        <link rel="stylesheet"  href="{{ asset('Public/css/bootstrap-responsive.css') }}" />
        <link rel="stylesheet" href="{{ asset('Public/css/font-awesome.css') }}" />

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<header>

    <div class="navbar navbar-inverse navbar-fixed-top" id="navbartop">
        <div class="navbar-inner">
            <img src="{{ asset ('Public/img/logocarteSPPIM.png') }}"  alt="..." class="img-thumbnail" id="logo" >
            <div class="container">
                <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="brand" href="{{ path('sppim_homepage') }}">S.P.P.I.M Menuiseries</a>
                <div class="nav-collapse collapse">
                    <form class="navbar-form form-search pull-right">
                        <input id="Search" name="Search" type="text" class="input-medium search-query">
                        <button type="submit" class="btn">Rechercher</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
<div class="container-fluid" id="MenuDashboard">
    <div class="col-md-4 col-lg-4" >
        <ul class="nav" id="ItemDashBoard">
            <li class="item">
                <a class="nav-link active" href="#">Tableau de Bord</a>
            </li>
            <li class="item">
                <a class="nav-link active" href="#">Devis recus</a>
            </li>
            <li class="item">
                <a class="nav-link" href="#">Devis Validés</a>
            </li>
            <li class="item">
                <a class="nav-link active" href="{{ path('planning') }}">Planning</a>
            </li>
            <li class="item">
                <a class="nav-link" href="#">Messages</a>
            </li>
            <li class="item">
                <a class="nav-link disabled" href="#">Creer un article</a>
            </li>
            <li class="item">
                <a class="nav-link active" href="#">Devis du mois</a>
            </li>

        </ul>
    </div>

</div>

<div class="container-fluid" id="FormCreation">
    <h5>Formulaire de création d'un article</h5>
    <div class="span3">
    <form action="{{ path('creerProduits') }}" method="post" enctype="multipart/form-data">
            {{form(form)}}
    </form>
</div>
</div>

    {% block apercuthumbnail %}
        <h5>Apercu de la Vignette dans le catalogue</h5>
        <li class="span3">
            <div class="thumbnail">
                <img src="{{ asset ('Public/img/fenetre_1.jpg') }}" alt="Produit" width="150" height="150">
                <div class="caption">
                    <h4>Thumbnail label</h4>
                    <p>100,00 €</p>
                    <a  class="btn " href="{{ path('infoFenetres') }}">Plus d'infos</a>
                    <a class="btn btn-success" href="#">Ajouter au Devis</a>
                </div>
            </div>
        </li>
    {% endblock %}
</div>
<div class="container-fluid" id="ApercuFiche">
    {% block apercuarticle %}
        <h5>Apercu de la Fiche du produit<h5>
        <li class="span6">
            <div class="thumbnail">
                <img src="{{ asset ('Public/img/fenetre_1.jpg') }}" alt="Produit" width="150" height="150">
                <div class="caption">
                    <h4>Thumbnail label</h4>
                    <p>100,00 €</p>
                    <a  class="btn " href="{{ path('infoFenetres') }}">Plus d'infos</a>
                    <a class="btn btn-success" href="#">Ajouter au Devis</a>
                </div>
            </div>
        </li>
    {% endblock %}
</div>

</body>
<footer id="footer" class="vspace20">

    <div class="navbar navbar-inverse navbar-fixed-bottom" id="navbarbottom">
        <div class="navbar-inner">
            <div class="container">

                <a class="brand" href="#">S.P.P.I.M Menuiseries</a>
                <div class="nav-collapse collapse">
                    <div class="container">
                        <div class="col-md-12 col-lg-12">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">CGV</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Mentions Legales</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Copyright Danny Langevin @2018</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


</footer>
<script src="{{ asset('Public/js/jquery-1.10.0.min.js') }}"></script>
<script src="{{ asset ('Public/js/bootstrap.js') }}"></script>
{% block javascripts %}{% endblock %}

</html>
